<nav class="navbar navbar-expand-lg sticky-top mb-2 navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Yelp Kamp <span>/\</span></a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="/campgrounds"
                    >Kamp Site <span class="sr-only">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">login</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Campgrounds
                </a>
                <div
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                >
                    <a class="dropdown-item" href="/campgrounds/new"
                        >Add a kamp site</a
                    >
                    <a class="dropdown-item" href="#">Sign up</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
