<% layout('./layout/boilerplate') -%>

<div class="row">
    <h1 class="text-center">Add Campground</h1>
    <div class="col-6 offset-3 mb-2">
        <form
            action="/campgrounds"
            method="POST"
            class="needs-validation"
            novalidate
        >
            <div class="mb-2">
                <label class="form-label" for="name">Name</label>
                <input
                    class="form-control"
                    type="text"
                    id="name"
                    name="campground[name]"
                    required
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="campground[location]"
                    required
                />
            </div>

            <div class="mb-2">
                <label class="form-label" for="image">Image url..</label>
                <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="campground[image]"
                    alt="yelp camp picture here"
                />
            </div>
            <div class="mb-2">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input
                    type="text"
                    id="price"
                    name="campground[price]"
                    placeholder="0.00"
                    class="form-control"
                    aria-label="price"
                    aria-describedby="price-label"
                    required
                />
                </div>

            </div>
            <div class="mb-2">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    name="campground[description]"
                    required
                ></textarea>
            </div>

            <div class="mb-2 mt-1">
                <Button type="submit" class="btn btn-info">
                    Add Kamp
                </Button>
            </div>
            <a
                class="btn btn-secondary mb-1"
                href="/campgrounds"
                >Back to camp</a
            >
        </form>
    </div>
</div>
